header {
    height: 60px;
    width: auto;
    
    font-size: 40px;
    display: block;
   
    
}
body {

    font-family: "Gidole", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.a {
    font-size: 13px; text-decoration: none;
    color: black;
    
}
.a:hover{
    color: red;
}
.box{
    border: rgb(0, 255, 55) solid;
    width: 10px;
    height: 10px;
    background-color: rgb(0, 255, 55);
    color: rgb(0, 255, 55);
    border-radius: 50%;
}
.pirveli{
    width: 70rem;
    height: auto;
    
    margin: 50px;
    padding: 50px;
    float: inline-end;
   
}
.meore{
    width: 100px;
    height: 100px;
    border: black solid 2px;
    border-radius: 50%;

background-color: orange;
display: flex;
align-items: center;
text-decoration: none;
color: black;


}
.meore :hover{
    width: 44px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}
.mesame{
    width: 100px;
    height: 100px;
    border: black solid 2px;
    border-radius: 50%;
color: black;
background-color: rgb(0, 208, 255);
text-decoration: none;
}
.mesame :hover {
    width: 50px;
    height: auto ;
    background-color: white;
border-radius: 50%;
    cursor: pointer;
    float: right;
   

}
.meotxe{
    width: 100px;
    height: 100px;
    border: black solid 2px;
    border-radius: 50%;
background-color: rgb(255, 0, 0);
text-decoration: none;
color: black;
display: flex;
text-align: center;

}
.meotxe :hover{
    background-color: white;
    cursor: pointer;
    width: 100px;
    height: auto;
    border-radius: 50%;

}

img{
    width: 500px;
    height: 500px;
    border-radius: 50%;

   
}
h2{
    font-size: 20px;
    text-decoration: none;
    padding: 17px;color: black;font-weight: bold;
}
h3{
    font-size: 20px;
    text-decoration: none;
    padding: 17px;color: black;font-weight: bold;
}
.spani{
    text-align: center; display: flex; align-items: center;padding: 20px
}
th{
    font-weight: bold;font-size: larger
}
.p1{
    font-size: medium; font-weight: lighter;
}
.but {
    margin: 50px 120px;
    border-radius: 6px;
    width: 70px;
    
}
input{
    border-radius: 6px;
}